{% render 'partials/head.liquid' %}

<header>
    <h1>FDND - LEERJAAR 1 - SQUAD 1Gg</h1>
</header>



<button type="button" class="hamburger-button" id="hamburger-button">
    &#9776;
</button>

<nav class="menu" id="menu">
    <ul>
        <li><a href="../squad-1h:Flex">Flex</a></li>
        <li><a href="../squad-1h:Hype">Hype</a></li>
        <li><a href="../squad-1h:Peak">Peak</a></li>
        <li><a href="../squad-1h:Storm">Storm</a></li>
        <li><a href="../squad-1h:Flux">Flux</a></li>
        <li><a href="../squad-1h:Epic">Epic</a></li>
    </ul>
</nav>

<body>
    <div class="profilecards-container" id="profilecards">
        {% for person in persons %}
        <div class="profilecards">
            <a href="/student/{{ person.id }}">
                <p><span class="title">{{ person.name }} {{ person.id }}</span></p>

                <div class="img-container">
                    {% if person.avatar %}
                    <img src=" {{ person.avatar }} " alt="leeg" height="250px" width="200px"
                        style="border:10px solid {{person.fav_color}}">

                    {% if person.avatar == nil %}
                    <img class="img-placeholder" src="/images/placeholder.jpg" alt="leeg" height="250px" width="200px"
                        style="border:10px solid {{person.fav_color}}">
                    {% endif %}

                    {% else %}
                    <img class="img-placeholder" src="/images/placeholder.jpg" alt="leeg" height="250px" width="200px"
                        style="border:10px solid {{person.fav_color}}">
                    {% endif %}
                </div>

                <div class="like-button-container">
                    <button class="like-button" id="like-button">
                        &#x2764;&#xfe0f;</button>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>


    <style>

    </style>
    {% render 'partials/foot.liquid' %}