<h1> {{ team.name }} </h1>

<ul>
  {% for person in persons %}
    <li><img src="https://github.com/{{ person.github_handle }}.png"><a href="/detail/{{ person.id }}">{{ person.name }} {{ person.team }} </a></li>
  {% endfor %}
</ul>